{{> navigation}}

<header id="orian-header"{{#if @blog.cover}} class="has-background-image" style="background-image: url('{{@blog.cover}}');"{{/if}}>
  <span>
    <div class="container">
      <h1>{{@blog.description}}</h1>
    </div>
  </span>
</header>


