<aside class="right-off-canvas-menu">
  <nav class="st-menu">
    <ul class="primary-offcanvas-nav">
      <li><a href="http://www.spreadtruth.com" class="">Home</a></li>
      <li><a href="http://www.spreadtruth.com/resources" class="current">Resources</a></li>
      <li><a href="http://www.spreadtruth.com/training" class="">Training</a></li>
      <li><a href="http://www.spreadtruth.com/experiences" class="">Experiences</a></li>
      <li><a href="http://www.spreadtruth.com/about-us" class="">About Us</a></li>
      <li><a href="http://www.spreadtruth.com/contact" class="">Contact Us</a></li>
      <li><a href="http://store.spreadtruth.com">Store</a></li>
      <li><a href="http://www.spreadtruth.com/give" class="">Give </a></li>
    </ul>

    <hr class="show-for-medium-up">

    <ul class="secondary-offcanvas-nav show-for-medium-up">
    	<li><a href="http://www.spreadtruth.com/thestory">The Story</a></li>
      <li><a href="http://www.spreadtruth.com/thestoryesv">The Story ESV Bible</a></li>
      <li><a href="http://www.spreadtruth.com/life">Life As We Know It</a></li>
    	<li><a href="http://www.spreadtruth.com/presskits">Press &amp; Media</a></li>
      <li><a href="http://www.spreadtruth.com/http://store.spreadtruth.com/apps">Free Apps</a></li>
    </ul>

    <hr>

    <ul class="secondary-offcanvas-nav">
    	<li><a href="https://go.spreadtruth.com/">(GO) Trip Admin</a></li>
    	<li><a href="http://www.spreadtruth.com/doctrinal-statement" class="">Doctrinal Statement</a></li>
    	<li><a href="http://www.spreadtruth.com/non-profit-info" class="">Non-Profit Info</a></li>
    	<li class="hide-for-small"><a href="http://www.spreadtruth.com/privacy-policy" class="">Privacy Policy</a></li>
    </ul>

    <hr>

    <div class="text-center">
      <ul class="social-icons-header">
        <li><a href="https://twitter.com/spread_truth" target="_blank"><span class="icon icons-twitter-w"></span></a></li>
        <li><a href="https://www.facebook.com/SpreadTruthPage" target="_blank"><span class="icon icons-facebook-w"></span></a></li>
        <li><a href="http://instagram.com/lifemystory" target="_blank"><span class="icon icons-instagram-w"></span></a></li>
        <li><a href="https://vimeo.com/spreadtruth" target="_blank"><span class="icon icons-vimeo-w"></span></a></li>
        <li><a href="http://www.spreadtruth.com/contact"><span class="icon icons-envelop-w"></span></a></li>
      </ul>
    </div>
  </nav>    
</aside>