<a href="{{@blog.url}}/rss/" class="icon-feed">RSS</a>
<a href="mailto:#" class="icon-mail">Email</a>
<a href="#" class="icon-twitter">Twitter</a>
<a href="#" class="icon-facebook">Facebook</a>
<a href="#" class="icon-googleplus">Google +</a>
