* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  height: 100% !important;
  width: 100%;
}

body {
  position: relative;
  background: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 400;
  color: #323232;
}

img {
  max-width: 100%;
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: bicubic;
}

p {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", "Source Sans Pro", sans-serif;
  font-weight: normal;
  line-height: 1.2em;
  margin-bottom: .5em;
  margin-top: 30px;
}
header h1, header
h2, header
h3, header
h4, header
h5, header
h6 {
  margin-top: 0;
}

h1 {
  font-size: 2.2em;
  line-height: 1.4em;
  text-transform: uppercase;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

hr {
  border: none;
  border-bottom: solid 1px #aeaeae;
}

iframe,
embed,
object,
.fluid-width-video-wrapper {
  margin-bottom: 20px;
}

pre {
  overflow: auto;
}

code {
  overflow: auto;
  background: #e0e0e0 !important;
  margin-bottom: 20px;
}

a {
  color: #2980b9;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

b,
strong {
  font-weight: 700;
}

blockquote {
  position: relative;
  display: block;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-left: solid 4px #2980b9;
}
blockquote > *:last-child {
  margin-bottom: 0;
}

/*label {
  width: 200px;
  float: left;
  color: #727272;
  padding: 7px 10px 7px 0;
  margin: 5px 0;
  font-size: .875em;
  clear: both;
}
label + * {
  float: left;
}

input,
textarea,
select {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  display: inline-block;
  background: #dadada;
  border: none;
  padding: 10px 14px;
  margin: 5px 0;
  width: 250px;
  max-width: 100%;
  color: #323232;
  outline: none;
  font-family: Arial, sans-serif;
}
input:hover, input:active, input:focus,
textarea:hover,
textarea:active,
textarea:focus,
select:hover,
select:active,
select:focus {
  background-color: #dadada;
}

input[type=radio],
input[type=checkbox] {
  margin: 13px 0;
  height: 18px;
  width: 18px;
  padding: 0;
  cursor: pointer;
  border: solid 4px #c6c6c6;
}
input[type=radio]:checked,
input[type=checkbox]:checked {
  background: #2980b9;
}

input[type=radio] {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

textarea {
  width: 350px;
  min-height: 150px;
}

select {
  background-image: url("../img/select-arrow.png");
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 40px;
  cursor: pointer;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  border: none;
  width: auto;
  margin: 5px 0;
}*/

#orian-content .hljs {
  background: white;
  padding: 20px;
}

.transition, a, input,
textarea,
select, .button, button,
input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.clearfix {
  overflow: hidden;
  *zoom: 1;
}

.hidden {
  position: absolute;
  display: none;
  left: -9999px;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
  visibility: hidden;
}

.rounded {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.container {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  display: block;
  max-width: 640px;
  margin: 0 auto;
}

.container-large {
  max-width: 900px;
}

.col-1 {
  width: 25%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 75%;
}

.col-4 {
  width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4 {
  display: block;
  float: left;
}
@media screen and (max-width: 767px) {
  .col-1,
  .col-2,
  .col-3,
  .col-4 {
    width: 100%;
  }
}

.col-offset-1 {
  margin-left: 25%;
}

.col-offset-2 {
  margin-left: 50%;
}

.col-offset-3 {
  margin-left: 75%;
}

@media screen and (max-width: 767px) {
  .col-offset-1,
  .col-offset-2,
  .col-offset-3 {
    margin-left: 0;
  }
}
.button, button,
input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  padding: 10px 14px;
  line-height: 1.2em;
  background-color: #323232;
  color: #f9f9f9;
  text-decoration: none;
  cursor: pointer;
}
.button:hover, button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  background-color: #2980b9;
  color: #f9f9f9;
  text-decoration: none;
}
.button.accent, button.accent,
input.accent[type=button],
input.accent[type=reset],
input.accent[type=submit], button[type=submit] {
  background-color: #2980b9;
  color: #f9f9f9;
}
.button.accent:hover, button.accent:hover,
input.accent[type=button]:hover,
input.accent[type=reset]:hover,
input.accent[type=submit]:hover, button[type=submit]:hover {
  background-color: #1b5586;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?ssc408");
  src: url("../fonts/icomoon.eot?#iefixssc408") format("embedded-opentype"), url("../fonts/icomoon.woff?ssc408") format("woff"), url("../fonts/icomoon.ttf?ssc408") format("truetype"), url("../fonts/icomoon.svg?ssc408#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\e600";
}

.icon-mail:before {
  content: "\e601";
}

.icon-googleplus:before {
  content: "\e602";
}

.icon-facebook:before {
  content: "\e603";
}

.icon-twitter:before {
  content: "\e604";
}

.icon-feed:before {
  content: "\e605";
}

#orian-header {
  position: relative;
  width: 100%;
  display: table;
  height: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#orian-header.has-background-image {
  margin-bottom: 60px;
  height: 70%;
}
@media screen and (max-width: 479px) {
  #orian-header {
    margin-top: 0 !important;
  }
  #orian-header.has-background-image {
    height: 60% !important;
  }
}
#orian-header > span {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 60px 20px;
  z-index: 10;
}
#orian-header h1 {
  position: relative;
  display: inline-block;
  color: #f9f9f9;
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 5px;
  padding: 10px 20px;
}
#orian-header h1:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  z-index: -1;
}

#orian-navigation {
  background: #f9f9f9;
  background: rgba(249, 249, 249, 0.85);
  font-size: 16px;
}
@media screen and (min-width: 480px) {
  #orian-navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }
}
#orian-navigation .container {
  padding: 0 20px;
  text-align: center;
  z-index: 10;
}
#orian-navigation .container h1,
#orian-navigation .container a {
  line-height: 28px;
  padding: 20px 0;
  margin: 0;
}
#orian-navigation .container h1 {
  font-size: 22px;
  text-align: left;
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  #orian-navigation .container h1 {
    text-align: center;
    padding-bottom: 0;
  }
}
#orian-navigation .container h1 a {
  padding: 0;
}
@media screen and (min-width: 767px) {
  #orian-navigation .container .links a:before {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    content: " ";
    position: absolute;
    display: block;
    top: -4px;
    left: -4px;
    right: -4px;
    height: 4px;
    background: #2980b9;
  }
  #orian-navigation .container .links a:hover:before {
    top: 0;
  }
}
#orian-navigation .container a {
  position: relative;
  display: inline-block;
  font-size: .875em;
  color: #1f1f1f;
  text-decoration: none;
  vertical-align: middle;
}
#orian-navigation .container a:hover {
  text-decoration: none;
}
#orian-navigation .container a + a {
  margin-left: 20px;
}

#orian-filter {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.4s ease-out;
  -webkit-transition-delay: 0.5s;
  -moz-transition: all 0.4s ease-out 0.5s;
  -o-transition: all 0.4s ease-out 0.5s;
  transition: all 0.4s ease-out 0.5s;
  padding: 0 20px;
}
#orian-filter .container {
  position: relative;
  padding: 0 20px 10px 20px;
  font-size: 14px;
  text-align: center;
}
#orian-filter .container span {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  display: inline-block;
  cursor: pointer;
  padding: 20px 0;
  color: #191919;
}
#orian-filter .container span:hover, #orian-filter .container span.active {
  color: #f9f9f9;
}
#orian-filter .container span + span {
  margin-left: 20px;
}
#orian-filter input {
  position: absolute;
  top: 12px;
  right: 0;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 26px 15px;
  padding-right: 40px;
  max-width: 25%;
}
#orian-filter.visible {
  margin-bottom: 0 !important;
}
@media screen and (max-width: 480px) {
  #orian-filter {
    display: none !important;
  }
}

#orian-content {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  padding: 0 20px;
  text-align: left;
}
.post-template #orian-content, .page-template #orian-content {
  /*margin-top: 60px;*/
}
.post-template #orian-content + *, .page-template #orian-content + * {
  margin-top: 60px;
}

#orian-pagination {
  padding: 60px 20px;
  font-size: 16px;
}
#orian-pagination .container {
  padding: 0 10px;
}
#orian-pagination .page-number {
  display: inline-block;
  text-align: center;
  line-height: 1.2em;
  padding: 10px;
}
#orian-pagination .older-posts {
  text-align: right;
}
@media screen and (max-width: 767px) {
  #orian-pagination .page-number {
    display: none;
  }
  #orian-pagination .col-1 {
    width: 48%;
  }
  #orian-pagination .older-posts {
    float: right;
  }
}

#orian-footer {
  padding: 60px 20px;
  background-color: #323232;
  color: #f9f9f9;
  text-align: center;
}
#orian-footer .title + * {
  padding-top: 2px;
}
#orian-footer h3 {
  display: inline-block;
  margin-top: 0;
  padding-bottom: 8px;
  border-bottom: solid 3px #f9f9f9;
}
#orian-footer a {
  color: #f9f9f9;
  text-decoration: none;
}
#orian-footer .social {
  margin-top: 20px;
}
#orian-footer .social a {
  font-size: 0;
  margin: 0 5px;
}
#orian-footer .social a:before {
  font-size: 24px;
}

.header-blog {
    background-image: url("../img/header.jpg");
}
/*@media (min-width: 40.063em) {
    .header-blog {
        background-image: url("../img/headers/resources-bg.jpg");
        background-position: 0% 100%;
    }
}*/

.top-nav {
  padding: 0 5%;
  padding-top: 2em;
  margin: 0;
  background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.25));
}

@media (min-width: 40.063em) {
    .top-nav {
        background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0));
    }
}

.top-nav a:hover, .st-menu a:hover {
  text-decoration: none !important;
}

#main-selection {
  padding-bottom: 0;
}

.orian-post-preview h3 {color: #fff;}

h1.header-shadow {
text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
filter: dropshadow(color=#444444, offx=0, offy=0);
}